{% extends './layout.html' %}
{% block title %}Merch - CoolBand {% endblock %}
{% block body %}
    <main>
        <div class="container">
            <div class="text-center py-5">
                <h1 class="h1 pink-text"><i class="fas fa-tags"></i> Merch</h1>
            </div>
            <section class="text-center mt-4 mb-4">
                <div class="row wow fadeIn">
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card">
                            <div class="view overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top" alt="">
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>
                            <div class="card-body text-center">
                                <a href="" class="grey-text"><h5>Shirt</h5></a><h5><strong>
                                <a href="" class="dark-grey-text">Denim shirt<span class="badge badge-pill danger-color">NEW</span></a></strong></h5>
                                <h4 class="font-weight-bold blue-text"><strong>120$</strong></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card">
                            <div class="view overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13.jpg" class="card-img-top"
                                    alt="">
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>
                            <div class="card-body text-center">
                                <a href="" class="grey-text"><h5>Sport wear</h5></a>
                                <h5><strong><a href="" class="dark-grey-text">Sweatshirt</a></strong></h5>
                                <h4 class="font-weight-bold blue-text"><strong>139$</strong></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card">
                            <div class="view overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14.jpg" class="card-img-top"
                                    alt="">
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>
                            <div class="card-body text-center">
                                <a href="" class="grey-text"><h5>Sport wear</h5></a>
                                <h5><strong><a href="" class="dark-grey-text">Grey blouse <span class="badge badge-pill primary-color">bestseller</span></a></strong></h5>
                                <h4 class="font-weight-bold blue-text"><strong>99$</strong></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card">
                            <div class="view overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15.jpg" class="card-img-top"
                                    alt="">
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>
                            <div class="card-body text-center">
                                <a href="" class="grey-text"><h5>Outwear</h5></a>
                                <h5><strong><a href="" class="dark-grey-text">Black jacket</a></strong></h5>
                                <h4 class="font-weight-bold blue-text"><strong>219$</strong></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row wow fadeIn">
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card">
                            <div class="view overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13.jpg" class="card-img-top"
                                alt="">
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>
                            <div class="card-body text-center">
                                <a href="" class="grey-text"><h5>Shirt</h5></a>
                                <h5><strong><a href="" class="dark-grey-text">Denim shirt<span class="badge badge-pill danger-color">NEW</span></a></strong></h5>
                                <h4 class="font-weight-bold blue-text"> <strong> 120$ </strong></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card">
                            <div class="view overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14.jpg" class="card-img-top"
                                alt="">
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>
                            <div class="card-body text-center">
                                <a href="" class="grey-text"><h5>Sport wear</h5></a>
                                <h5><strong><a href="" class="dark-grey-text">Sweatshirt</a></strong></h5>
                                <h4 class="font-weight-bold blue-text"><strong>139$</strong></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card">
                            <div class="view overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15.jpg" class="card-img-top"
                                alt="">
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>
                            <div class="card-body text-center">
                                <a href="" class="grey-text"><h5>Sport wear</h5></a>
                                <h5><strong><a href="" class="dark-grey-text">Grey blouse <span class="badge badge-pill primary-color">bestseller</span></a></strong></h5>
                                <h4 class="font-weight-bold blue-text"><strong>99$</strong></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card">
                            <div class="view overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top"
                                alt="">
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>
                            <div class="card-body text-center">
                                <a href="" class="grey-text"><h5>Outwear</h5></a>
                                <h5><strong><a href="" class="dark-grey-text">Black jacket</a></strong></h5>
                                <h4 class="font-weight-bold blue-text"><strong>219$</strong></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}