<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"/>
        <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static',filename='css/mdb.min.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static',filename='css/style.min.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static',filename='css/styles.css') }}" rel="stylesheet" />
        <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static',filename='img/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static',filename='img/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='img/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('static',filename='img/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ url_for('static',filename='img/safari-pinned-tab.svg') }}" color="#5bbad5">
        <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.ico') }}">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="{{ url_for('static',filename='img/browserconfig.xml') }}">
        <meta name="theme-color" content="#ffffff">
        {% block head %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg sticky-top navbar-dark black z-depth-2">
            <div class="container">
                <a class="navbar-brand" href="/"><i class="fas pink-color fa-compact-disc fa-2x fa-spin"></i> CoolBand</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="/merch/items">Merch</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="/tour">Tour</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="/listen">Listen</a>
                        </li>
                {% if 'user_id' in session %}
                    {% if logged_in_user.approval_id == 9 %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Admin</a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/user/my_account">Profile</a>
                                <a class="dropdown-item" href="/admin/users">Users List</a>
                                <a class="dropdown-item" href="/admin/items">Items List</a>
                                <a class="dropdown-item" href="/admin/tours">Tours List</a>
                                <a class="dropdown-item" href="/admin/orders">Orders List</a>
                                <a class="dropdown-item" href="/user/logout">Logout <i class="fas fa-sign-out-alt"></i></a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink2" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">My Account</a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/user/my_account">Profile</a>
                                <a class="dropdown-item" href="/user/{{ logged_in_user.id }}/orders">My Orders</a>
                                <a class="dropdown-item" href="/user/logout">Logout <i class="fas fa-sign-out-alt"></i></a>
                            </div>
                        </li>
                        {% endif %}
                {% else %}
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="/user/register">Register</a>
                        </li>
                            <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="/user/login">Login <i class="fas fa-sign-in-alt"></i></a> 
                        </li>
                {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div id="alerts"></div>
        {% block body %}{% endblock %}
        <footer class="page-footer text-center font-small">
            <hr class="my-4" />
            <div class="pb-4">
                <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter mr-3"></i></a>
                <a href="https://github.com" target="_blank"><i class="fab fa-github mr-3"></i></a>
                <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram mr-3"></i></a>
            </div>
            <div class="footer-copyright py-3">© 2019 Copyright: 
                <a href="https://www.duffchaves.com" target="_blank"> Duff Chaves</a>
            </div>
        </footer>
        <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.4.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/mdb.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>
        <script src="https://connect.soundcloud.com/sdk/sdk-3.3.2.js"></script>
        <script>
            new WOW().init();
            $(document).ready (function(){
                $(".alert").fadeTo(5000, 500).slideUp(500, function(){
                    $(".alert").slideUp(1000);
                });
            });
        </script>
    </body>
</html>
