{% extends './layout.html' %}
{% block title %}Login - Demo App{% endblock %}
{% block body %}
    <div class="container flex-center">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-row mb-4">
                    <form id="user-login-form" class="needs-validation text-center border border-light p-5" action="/user/process_login" method="POST" novalidate>
                        <div id="alerts" class="mb-4"></div>
                        <h2 class="mb-5">Login</h2>
                        <div class="form-row mb-4">
                            <div class="col text-left">
                                <span><small>Email</small></span>
                                <input type="email" class="login-input form-control mb-4" name="email" placeholder="" required>
                                <span><small>Password</small></span>
                                <input type="password" class="login-input form-control mb-4" name="password" placeholder="" required>
                                <div class="text-center">
                                    <button class="btn btn-pink btn-rounded btn-lg btn-login" type="submit">Login</button>
                                </div>
                            </div>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>
{% endblock %}