{% extends './layout.html' %}
{% block title %}My Account - Demo App{% endblock %}
{% block body %}
    <div class="container">
        <div class="container flex-center">
            <div class="row pt-5 mt-3">
                <div class="col-md-12 pt-3 mb-5">
                    <div class="intro-info-content text-center">
                        <section class="card profile-card p-5 mb-4 text-center">
                            <div class="avatar z-depth-4-half">
                                <i class="fa fa-user fa-5x"></i>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title"><strong>{{ logged_in_user.first_name + ' ' + logged_in_user.last_name}}</strong></h4>
                                    <p class="dark-grey-text">{{ logged_in_user.email }}</p>
                                <p class="card-text mt-3">{{ logged_in_user.notes }}</p>
                            <a href="/user/logout" class="btn btn-info btn-rounded btn-sm waves-effect waves-light">Logout</a>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}