{% extends './layout.html' %}
{% block title %}Page Not Found - Demo App{% endblock %}
{% block body %}
    <div id="carousel-example-1z" class="carousel slide carousel-fade">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="view" style="background-image: url('/static/img/background1.jpg'); background-repeat: no-repeat; background-size: cover;">
                    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
                        <div class="text-center white-text mx-5 wow fadeIn">
                            <h1 class="mb-4"><strong>PAGE NOT FOUND!</strong></h1>
                            <a href="/" class="btn btn-outline-white btn-lg">Home <i class="fas fa-home ml-2"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}