{% extends './layout.html' %}
{% block title %}Listen - CoolBand {% endblock %}
{% block body %}
<main>
    <div class="container">
        <div class="text-center py-5">
            <h1 class="h1 pink-text"><i class="fas fa-volume-up"></i> Listen</h1>
        </div>
        <section class="mt-5 wow fadeIn">
            <div class="row">
                <div class="col-md-5 mb-4">
                    <img src="https://mdbootstrap.com/img/Marketing/mdb-press-pack/mdb-main.jpg" class="img-fluid z-depth-1-half" alt=""/>
                </div>
                <div class="col-md-7 mb-4">
                    <h3 class="h3 mb-3">New Record Released</h3>
                    <p> Lorem ipsum dolor sit, amet consectetur <strong>adipisicing</strong></p>
                    <a target="_blank" href="#" class="btn btn-pink btn-rounded btn-md">
                        Add to Cart<i class="fas fa-shopping-cart ml-1"></i>
                    </a>
                    <a target="_blank" href="#" class="btn btn-pink btn-rounded btn-md">
                        Listen <i class="fas fa-volume-up ml-1"></i>
                    </a>
                </div>
            </div>
            <hr class="py-3"/>
            <div class="row">
                <div class="col-md-5 mb-4">
                    <img src="https://mdbootstrap.com/img/Marketing/mdb-press-pack/mdb-main.jpg" class="img-fluid z-depth-1-half" alt=""/>
                </div>
                <div class="col-md-7 mb-4">
                    <h3 class="h3 mb-3">Best Seller</h3>
                    <p> Lorem ipsum dolor sit, amet consectetur <strong>adipisicing</strong></p>
                    <a target="_blank" href="#" class="btn btn-pink btn-rounded btn-md">
                        Add to Cart<i class="fas fa-shopping-cart ml-1"></i>
                    </a>
                    <a target="_blank" href="#" class="btn btn-pink btn-rounded btn-md">
                        Listen <i class="fas fa-volume-up ml-1"></i>
                    </a>
                </div>
            </div>
        </section>
    </div>
</main>
    
{% endblock %}