{% extends './layout.html' %}
{% block title %}Thankyou - Demo App{% endblock %}
{% block body %}
    <div class="container">
        <div class="container flex-center">
            <div class="row pt-5 mt-3 mb-4">
                <div class="col-md-12 pt-5 mb-3">
                    <div class="intro-info-content text-center">
                        <h3 class="display-4 mb-5 wow fadeIn" data-wow-delay="0.3s">THANK YOU <a class="font-bold"> for registering {{ logged_in_user.first_name.capitalize() }}!</a></h3>
                        <i class="fas fa-smile fa-5x wow shake"></i>
                        <h5 class="font-up mb-5 mt-1 font-bold wow fadeIn" data-wow-delay="0.3s">We are happy to have you on board!</h5>
                    </div>               
                </div>
            </div>
        </div>
    </div>
{% endblock %}