{% extends './layout.html' %}
{% block title %}Tour - CoolBand {% endblock %}
{% block body %}
<main>
    <div class="container">
        <div class="text-center py-5">
            <h1 class="h1 pink-text"><i class="fas fa-music"></i> Tour</h1>
        </div>
        <div class="row">
            <div class="table-responsive mb-5">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>5/23</td>
                        <td>7:30PM</td>
                        <td>Seatle, WA</td>
                        <td>The Crocodile Cafe</td>
                    </tr>
                    <tr>
                        <td>5/24</td>
                        <td>8:30PM</td>
                        <td>Seatle, WA</td>
                        <td>The Crocodile Cafe</td>
                    </tr>
                    <tr>
                        <td>5/26</td>
                        <td>9:00PM</td>
                        <td>Santa Cruz, CA</td>
                        <td>The Catalyst</td>
                    </tr>
                    <tr>
                        <td>5/27</td>
                        <td>3:00PM</td>
                        <td>Las Vegas, NV</td>
                        <td>Red Rock Ampitheatre</td>
                    </tr>
                    <tr>
                        <td>5/28</td>
                        <td>5:00PM</td>
                        <td>Las Vegas, NV</td>
                        <td>Red Rock Ampitheatre</td>
                    </tr>
                    <tr>
                        <td>5/29</td>
                        <td>3:00PM</td>
                        <td>Las Vegas, NV</td>
                        <td>Red Rock Ampitheatre</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
    
{% endblock %}