{% extends './layout.html' %}
{% block title %}Users List - CoolBand {% endblock %}
{% block body %}
<main>
    <div class="container">
        <div class="text-center py-5">
            <h1 class="h1 pink-text"><i class="fas fa-user"></i> Users</h1>
        </div>
        <div class="row">
            <div class="table-responsive mb-5">
                <table class="table">
                    <tbody>
                        <thead>
                            <th>Id</th>
                            <th>Approval</th>
                            <th>Name</th>
                            <th>L Name</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Address 2</th>
                            <th>City</th>
                            <th>Country</th>
                            <th>Postal Code</th>
                            <th>Created</th>
                            <th>Last Updated</th>
                        </thead>
                    {% for user in user_list %}
                        <tr>
                            <td><small>{{ user.id }}</small></td>
                            <td><small>{{ user.approval_id }}</small></td>
                            <td><small>{{ user.first_name }}</small></td>
                            <td><small>{{ user.last_name }}</small></td>
                            <td><small>{{ user.email }}</small></td>
                            <td><small>{{ user.address }}</small></td>
                            <td><small>{{ user.address2 }}</small></td>
                            <td><small>{{ user.city }}</small></td>
                            <td><small>{{ user.country }}</small></td>
                            <td><small>{{ user.postal_code }}</small></td>
                            <td><small>{{ user.created_at }}</small></td>
                            <td><small>{{ user.updated_at }}</small></td>
                            <td>
                                <a href="/admin/user/{{ user.id }}/edit"><i type="button" class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% for user in user_list %}

    {% endfor %}
</main>
{% endblock %}