{% extends './layout.html' %}
{% block title %}Users List - CoolBand {% endblock %}
{% block body %}
<main>
    <div class="container">
        <div class="text-center py-5">
            <h1 class="h1 pink-text"><i class="fas fa-user"></i> Users</h1>
        </div>
        <div class="row">
            <div class="table-responsive mb-5">
                <table class="table">
                    <tbody>
                        <thead>
                            <th>Id</th>
                            <th>Approval</th>
                            <th>Name</th>
                            <th>L Name</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Address 2</th>
                            <th>City</th>
                            <th>Country</th>
                            <th>Postal Code</th>
                            <th>Created</th>
                            <th>Last Updated</th>
                        </thead>
                    {% for user in user_list %}
                        <tr>
                            <td><small>{{ user.id }}</small></td>
                            <td><small>{{ user.approval_id }}</small></td>
                            <td><small>{{ user.first_name }}</small></td>
                            <td><small>{{ user.last_name }}</small></td>
                            <td><small>{{ user.email }}</small></td>
                            <td><small>{{ user.address }}</small></td>
                            <td><small>{{ user.address2 }}</small></td>
                            <td><small>{{ user.city }}</small></td>
                            <td><small>{{ user.country }}</small></td>
                            <td><small>{{ user.postal_code }}</small></td>
                            <td><small>{{ user.created_at }}</small></td>
                            <td><small>{{ user.updated_at }}</small></td>
                            <td>
                                <i id="modalActivate{{ user.id }}" type="button" class="fa fa-edit" data-toggle="modal" data-target="#user-edit-modal-{{ user.id }}"></i>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% for user in user_list %}
    <div class="modal fade right" id="user-edit-modal-{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="user-edit-modal-Label-{{ user.id }}" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form class="admin-user-update-form text-center border border-light" action="/admin/user/update/{{ user.id }}" method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title" id="user-edit-modal-Label-{{ user.id }}">Editing user <strong>{{ user.first_name + ' ' + user.last_name }}</strong></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="modal-alerts"></div>
                        <div class="form-row mb-2 mt-2">
                            <div class="col">
                                <input id="user-id" type="hidden" name="user-id" value="{{ user.id }}" >
                                <input type="text" class="form-control mb-4" name="fname" value="{{ user.first_name }}">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control mb-4" name="lname" value="{{ user.last_name }}">
                            </div>
                        </div>
                        <div class="form-row mb-2">
                            <input type="email" class="form-control mb-4" name="email" value="{{ user.email }}">
                        </div>
                    </div>
                    <div class="modal-footer">
                       
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="" type="submit" class="btn-update btn btn-success">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</main>
{% endblock %}