  html,
  body,
  .view {
    height: 100%;
  }

  /* Carousel*/
  .carousel,
  .carousel-item,
  .carousel-item.active {
    height: 100%;
  }
  .carousel-inner {
    height: 100%;
  }
  .carousel .carousel-item video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

@media (min-width: 800px) and (max-width: 850px) {
	.navbar:not(.top-nav-collapse) {
		background: #1c2331 !important;
	}
}
 .modal-footer {
    margin-top: 1rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#time-counter {
  font-size: 2rem; 
}
.nav-tabs .nav-link.active a {
  color: #000000;
}
.nav-tabs a {
  color: #ffffff;
}
.navbar-brand {
  color: #ec407a !important;
}
.login-input {
  width: 300px;
}
audio {
  background: transparent !important;
}
#img-item-list {
  width: 200px;
  height: 200px;
}
.hidden {
  display: none;
}
body {
  margin-bottom: 0px;
}
#footer {
  position: absolute; 
  bottom: 0; 
  width: 100%; 
  display: none;
}	
body {
  margin:0;
  padding:0;  
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  min-height:100vh;
}
main {
  flex:1 0 auto;
}